//edit()

/* =======================================================
   Styles
   ======================================================== */

body
	font 16px/26px Helvetica, Helvetica Neue, Arial

.wrapper
	center(90%)

/* ===================
    ALL: Black Theme
   =================== */
   
.header-container,
.footer-container,
.blog_container
	background negro

.main
.article_container
	background white

.suscribe_container
	background amarillo
	
.logo
	width 200px
	margin 0 auto

/* ==============
    MOBILE: Menu
   ============== */

nav
	border-top 1px solid blanco
	ul
		margin 0
		padding 0
		list-style-type none
		
nav
	a
		display block
		
		text-align center
		text-decoration none
		font-weight bold
		padding 0px 40px
		
		color blanco
		
nav a:hover,
nav a:visited
	color blanco

nav
	a
		&:hover
			text-decoration underline
			
.social
	text-align center
	border-top 1px solid blanco
	margin 5px
	padding-top 10px

	a
		text-align center
		padding 10px
		img
			display inline
		
/* ==============
    MOBILE: Main
   ============== */

header.header
	padding-top 20px

.banner_web
	display none
	
.banner_mobile
	display block
	
.main-container
	text-align center
	
article.actividad
	margin 20px 0px
	img
		border-radius 50%
	
	
/* ==============
    MOBILE: Blog
   ============== */
   
section.blog
	padding-bottom 40px
	h1, h2
		color blanco
	p 
		color gris_light

.blog__item
	img
		border 4px solid white
		margin 4px
		
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box 
		
/* =====================
    MOBILE: suscribe
   ===================== */

section.suscribe
	padding-bottom 20px
	color negro
	
.footer-container footer
	text-align center
	padding 5px
	a
		color white
		font-size 0.8em
		text-decoration none
		&:hover
			text-decoration underline
		
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title
	padding-top 20px

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* ===========
   Arrow Down
   =========== */

section.suscribe,
section.blog
	.arrow-down
		width 0
		height 0
		border-left 40px solid transparent
		border-right 40px solid transparent
		margin 0 auto
		
section.blog
	.arrow-down
		border-top: 40px solid blanco
		
section.suscribe
	.arrow-down
		border-top: 40px solid negro

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ====================
    TABLET: Menu
   ==================== */

+above(b1)
	.wrapper
		center(80%)
	header
		center(80%)
		
	nav
		display block
		li
			span(1/3, offset:1/9)
			a
				padding 10px
				
	.social
		clear both
		a
			img

	.banner_mobile
		display none
	.banner_web
		display block
		
	article.actividad
		img
			width 50%
			
/* ========================
    TABLET: IE Fixes
   ======================== */
	nav
	   	ul
	   		li
	      		display inline
	.oldie
		nav
			a
				margin 0 0.7%
	
/* ============
    WIDE: menu
   ============ */

+above(b2)
	.wrapper
		center(90%)
		
	header
		center(97%)

	.logo
		col(1/4, offset:-1/8)
		img
			width 160px
			margin-top 10px
	
	nav
		col(1/4)
		
		border-top none
		margin-top 15px
		li
			col(1/2)
			
	.social
		col(1/4, offset:1/8)
		border-top none
		display inline
		text-align right
		margin-top 15px
		a
			span.icon
				font-size 1.8em
				margin 0px 5px
				color blanco

	article.actividad
		img
			width 80%
		col(1/3)
	
	.btn
		clear both
		display block
		width 200px
		margin 0 auto
		margin-bottom 40px
		
	
	.blog__item-container
		.blog__item
			col(1/2, cycle:2)
			
	.form
		center(80%)
		.form__group
			col(1/2, cycle:2)
		
		.form__submit
			clear both
			center(50%)

/* ===============
    Maximal Width
   =============== */
+above(b3)
	.wrapper
		center(90%)
	
	.blog__item-container
		.blog__item
			col(1/3, cycle:3, uncycle:2)

+above(b4)
	.wrapper
		center(1026px)
		


