.header-container
	header
		.logo
			img(src="img/creativedreams_logo.png",class="img-responsive",alt="creative dream logo")
		nav
			ul
				li: a(href="http://www.creativedream.cl/blog/", target="blank") Blog
				
				li: a(href="#") Contáctanos
		.social
			a(href="https://www.facebook.com/groups/creativedreamsmeet/?fref=ts", target="blank")
				img(src="img/social_facebook.png", alt="creativedream facebook", width="15", height="30")
			a(href="https://twitter.com/creatidream?lang=es", target="blank")
				img(src="img/social_twitter.png", alt="creativedream twitter", width="30", height="30")

			//- a(href="#")
			//- 	img(src="img/social_instagram", alt="creativedream instagram")
					
						


				
				



