.header-container
	header
		.logo
			img(src="img/creativedreams_logo.png",class="img-responsive",alt="creative dream logo")
		nav
			ul
				li: a(href="http://www.creativedream.cl/blog/") Blog
				
				li: a(href="#") Contáctanos
		.social
			a(href="https://www.facebook.com/groups/creativedreamsmeet/?fref=ts"): span.icon.icon-facebook
			a(href="https://twitter.com/creatidream?lang=es"): span.icon.icon-twitter
			//- a(href="#"): span.icon.icon-instagram
					
						


				
				



