<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title CreativeDreams
	link(rel="stylesheet", href="style.css")
	link(rel="stylesheet", type="txt/css", href="fonts/style.css")
	link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Bree+Serif', rel='stylesheet', type='text/css')
body
	include header.jade
	include section.jade
	include footer.jade

	script(src='js/analytics.js')


